
:root {
 /* --bs-primary-rgb:255, 0, 0; */
  --bs-primary-rgb:102, 0, 255;
  /* --bs-warning-rgb:248, 248, 109; */
  --bs-warning-rgb:8, 49, 61;
  --bs-secondary-rgb:2, 2, 59;
  --bs-body-rgb:229.196,13;
/*--bs-secondary-rgb:rgb(229, 196, 13); */ 
}



footer{
  line-height: 0.5rem;
}